<h1>{{pageText}}</h1>
<h1>{{title}}</h1>
<p>{{var}}</p>


<h3>Welcome to my Portfolio!</h3>
    
<p>
    My name is Nemi Desai. I'm a student of Conestoga College. I'm currently pursuing Mobile Solutions Development at Waterloo Campus.
</p>
<br>
<h5>Here's something about me.</h5>
<p>Very enthusiastic nature with “can do” attitude.
Multitasking and problem-solving abilities in a fast-paced environment.
Experienced in Microsoft Office (Word, Excel, PowerPoint) on Windows and Mac OS.
Always ready to learn new skills.</p>
<p>I love travelling and exploring places. I am very much interested in outdoor activities. I like to interact with people. I love studying about new technologies, gadgets and games.</p>
<br>
<p><img src="views/email.png" alt="linkedin logo">Follow me on <a href="https://www.linkedin.com/in/nemi-desai169">LinkedIn</a></p>
<p><img src="views/insta.png" alt="instagram logo"> Follow me on <a href="https://www.instagram.com/nemi_169/">Instagram</a></p>
<p><img src="views/email.png" alt="email logo"> Email me on <a href="mailto:ndesai9751@conestogac.on.ca">Here</a></p>