<!DOCTYPE html>
<html lang="en">
<head>
	<title>Palette</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <br>
    <p>
    My name is Nemi Desai. I'm a student of Conestoga College. I'm currently pursuing Mobile Solutions Development at Waterloo Campus.
    </p>
    <p>
        My Projects include.
    </p>
    <ol>
        <li>Web Development</li>
        <li>iOS Development</li>
        <li>UI Designing</li>
        <li>Software Development Techniques</li>
    </ol>
<br>
</body>
</html>